<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogServ</servlet-name>
        <servlet-class>tele.iti.Serv.LogServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>tele.iti.Serv.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityIncDec</servlet-name>
        <servlet-class>tele.iti.Serv.QuantityIncDec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>tele.iti.Serv.RemoveFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderNow</servlet-name>
        <servlet-class>tele.iti.Serv.OrderNow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOut</servlet-name>
        <servlet-class>tele.iti.Serv.CheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>tele.iti.Serv.CancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServ</servlet-name>
        <servlet-class>tele.iti.Serv.LogoutServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServ</servlet-name>
        <url-pattern>/RegisterServ</url-pattern>
        <servlet-class>tele.iti.Serv.RegisterServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerfiyServ</servlet-name>
        <servlet-class>tele.iti.Serv.VerfiyServ</servlet-class>
        <url-pattern>/VerfiyServ</url-pattern>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServ</servlet-name>
        <url-pattern>/LogServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityIncDec</servlet-name>
        <url-pattern>/QuantityIncDec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/RemoveFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderNow</servlet-name>
        <url-pattern>/OrderNow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOut</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/CancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServ</servlet-name>
        <url-pattern>/LogoutServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServ</servlet-name>
        <url-pattern>/RegisterServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerfiyServ</servlet-name>
        <url-pattern>/VerfiyServ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
